In [209]:
import pandas as pd
marks_data=pd.read_csv("marksdata2.csv")
marks_data

,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,Male,By public vehicle,Less than 1 hour,No,No,Holds a degree,Holds a degree,Less than 2 hours,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
1,Male,By private vehicle,Less than 1 hour,No,Yes,Holds a degree,Secondary school (grade 6 - 12),Less than 5 hours,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
2,Male,By public vehicle,More than 1 hour,No,No,Primary school (grade 1 - 5),Secondary school (grade 6 - 12),Less than 2 hours,Always,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),60 to 69
3,Male,By private vehicle,Less than 1 hour,No,Yes,Holds a degree,Secondary school (grade 6 - 12),More than 5 hours,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
4,Male,By public vehicle,Less than 30 minutes,No,No,Secondary school (grade 6 - 12),Holds a degree,Less than 2 hours,Always,Sometimes,No,None,No,Self studying,Closest date to the exam,Above average (65 - 85),70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Male,By public vehicle,Less than 1 hour,Yes,No,Secondary school (grade 6 - 12),Primary school (grade 1 - 5),Less than 2 hours,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",Closest date to the exam,Average (40 - 65),50 to 59
138,Male,By public vehicle,More than 1 hour,Yes,No,Secondary school (grade 6 - 12),Primary school (grade 1 - 5),Less than 2 hours,Sometimes,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),30 to 39
139,Male,By private vehicle,More than 1 hour,No,Yes,Secondary school (grade 6 - 12),Secondary school (grade 6 - 12),Less than 1 hour,Sometimes,Sometimes,No,More than 2 hours,Yes,Self studying,Closest date to the exam,Average (40 - 65),40 to 49
140,Female,By private vehicle,Less than 15 minutes,No,No,Holds a degree,Holds a degree,Less than 1 hour,Sometimes,Sometimes,Yes,More than 2 hours,Yes,Self studying,Closest date to the exam,Below average (less than 40),20 to 29
141,Male,By public vehicle,Less than 1 hour,No,No,Secondary school (grade 6 - 12),Secondary school (grade 6 - 12),Less than 5 hours,Always,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with frien...",I study regularly,Topper student (85-100),90 to 100

In [210]:
dataMapping={
    "By public vehicle":1,
    "By private vehicle":0
}

In [211]:
marks_data["TravelMethod"]=marks_data["TravelMethod"].map(dataMapping)
marks_data

,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,Male,1,Less than 1 hour,No,No,Holds a degree,Holds a degree,Less than 2 hours,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
1,Male,0,Less than 1 hour,No,Yes,Holds a degree,Secondary school (grade 6 - 12),Less than 5 hours,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
2,Male,1,More than 1 hour,No,No,Primary school (grade 1 - 5),Secondary school (grade 6 - 12),Less than 2 hours,Always,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),60 to 69
3,Male,0,Less than 1 hour,No,Yes,Holds a degree,Secondary school (grade 6 - 12),More than 5 hours,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
4,Male,1,Less than 30 minutes,No,No,Secondary school (grade 6 - 12),Holds a degree,Less than 2 hours,Always,Sometimes,No,None,No,Self studying,Closest date to the exam,Above average (65 - 85),70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Male,1,Less than 1 hour,Yes,No,Secondary school (grade 6 - 12),Primary school (grade 1 - 5),Less than 2 hours,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",Closest date to the exam,Average (40 - 65),50 to 59
138,Male,1,More than 1 hour,Yes,No,Secondary school (grade 6 - 12),Primary school (grade 1 - 5),Less than 2 hours,Sometimes,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),30 to 39
139,Male,0,More than 1 hour,No,Yes,Secondary school (grade 6 - 12),Secondary school (grade 6 - 12),Less than 1 hour,Sometimes,Sometimes,No,More than 2 hours,Yes,Self studying,Closest date to the exam,Average (40 - 65),40 to 49
140,Female,0,Less than 15 minutes,No,No,Holds a degree,Holds a degree,Less than 1 hour,Sometimes,Sometimes,Yes,More than 2 hours,Yes,Self studying,Closest date to the exam,Below average (less than 40),20 to 29
141,Male,1,Less than 1 hour,No,No,Secondary school (grade 6 - 12),Secondary school (grade 6 - 12),Less than 5 hours,Always,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with frien...",I study regularly,Topper student (85-100),90 to 100

In [212]:
dataMapping={
    "Male":1,
    "Female":0
}

In [213]:
marks_data["Gender"]=marks_data["Gender"].map(dataMapping)
marks_data

,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,1,1,Less than 1 hour,No,No,Holds a degree,Holds a degree,Less than 2 hours,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
1,1,0,Less than 1 hour,No,Yes,Holds a degree,Secondary school (grade 6 - 12),Less than 5 hours,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
2,1,1,More than 1 hour,No,No,Primary school (grade 1 - 5),Secondary school (grade 6 - 12),Less than 2 hours,Always,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),60 to 69
3,1,0,Less than 1 hour,No,Yes,Holds a degree,Secondary school (grade 6 - 12),More than 5 hours,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
4,1,1,Less than 30 minutes,No,No,Secondary school (grade 6 - 12),Holds a degree,Less than 2 hours,Always,Sometimes,No,None,No,Self studying,Closest date to the exam,Above average (65 - 85),70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,1,1,Less than 1 hour,Yes,No,Secondary school (grade 6 - 12),Primary school (grade 1 - 5),Less than 2 hours,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",Closest date to the exam,Average (40 - 65),50 to 59
138,1,1,More than 1 hour,Yes,No,Secondary school (grade 6 - 12),Primary school (grade 1 - 5),Less than 2 hours,Sometimes,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),30 to 39
139,1,0,More than 1 hour,No,Yes,Secondary school (grade 6 - 12),Secondary school (grade 6 - 12),Less than 1 hour,Sometimes,Sometimes,No,More than 2 hours,Yes,Self studying,Closest date to the exam,Average (40 - 65),40 to 49
140,0,0,Less than 15 minutes,No,No,Holds a degree,Holds a degree,Less than 1 hour,Sometimes,Sometimes,Yes,More than 2 hours,Yes,Self studying,Closest date to the exam,Below average (less than 40),20 to 29
141,1,1,Less than 1 hour,No,No,Secondary school (grade 6 - 12),Secondary school (grade 6 - 12),Less than 5 hours,Always,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with frien...",I study regularly,Topper student (85-100),90 to 100

In [214]:
dataMapping={
    "Yes":1,
    "No":0
}

In [215]:
marks_data["PartTimeJob"]=marks_data["PartTimeJob"].map(dataMapping)
marks_data

,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,1,1,Less than 1 hour,0,No,Holds a degree,Holds a degree,Less than 2 hours,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
1,1,0,Less than 1 hour,0,Yes,Holds a degree,Secondary school (grade 6 - 12),Less than 5 hours,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
2,1,1,More than 1 hour,0,No,Primary school (grade 1 - 5),Secondary school (grade 6 - 12),Less than 2 hours,Always,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),60 to 69
3,1,0,Less than 1 hour,0,Yes,Holds a degree,Secondary school (grade 6 - 12),More than 5 hours,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
4,1,1,Less than 30 minutes,0,No,Secondary school (grade 6 - 12),Holds a degree,Less than 2 hours,Always,Sometimes,No,None,No,Self studying,Closest date to the exam,Above average (65 - 85),70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,1,1,Less than 1 hour,1,No,Secondary school (grade 6 - 12),Primary school (grade 1 - 5),Less than 2 hours,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",Closest date to the exam,Average (40 - 65),50 to 59
138,1,1,More than 1 hour,1,No,Secondary school (grade 6 - 12),Primary school (grade 1 - 5),Less than 2 hours,Sometimes,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),30 to 39
139,1,0,More than 1 hour,0,Yes,Secondary school (grade 6 - 12),Secondary school (grade 6 - 12),Less than 1 hour,Sometimes,Sometimes,No,More than 2 hours,Yes,Self studying,Closest date to the exam,Average (40 - 65),40 to 49
140,0,0,Less than 15 minutes,0,No,Holds a degree,Holds a degree,Less than 1 hour,Sometimes,Sometimes,Yes,More than 2 hours,Yes,Self studying,Closest date to the exam,Below average (less than 40),20 to 29
141,1,1,Less than 1 hour,0,No,Secondary school (grade 6 - 12),Secondary school (grade 6 - 12),Less than 5 hours,Always,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with frien...",I study regularly,Topper student (85-100),90 to 100

In [216]:
dataMapping={
    "Less than 15 minutes":1,
    "Less than 30 minutes":2,
    "Less than 1 hour":3,
    "More than 1 hour":4
}

In [217]:
marks_data["TravelTime"]=marks_data["TravelTime"].map(dataMapping)
marks_data

,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,1,1,3,0,No,Holds a degree,Holds a degree,Less than 2 hours,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
1,1,0,3,0,Yes,Holds a degree,Secondary school (grade 6 - 12),Less than 5 hours,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
2,1,1,4,0,No,Primary school (grade 1 - 5),Secondary school (grade 6 - 12),Less than 2 hours,Always,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),60 to 69
3,1,0,3,0,Yes,Holds a degree,Secondary school (grade 6 - 12),More than 5 hours,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
4,1,1,2,0,No,Secondary school (grade 6 - 12),Holds a degree,Less than 2 hours,Always,Sometimes,No,None,No,Self studying,Closest date to the exam,Above average (65 - 85),70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,1,1,3,1,No,Secondary school (grade 6 - 12),Primary school (grade 1 - 5),Less than 2 hours,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",Closest date to the exam,Average (40 - 65),50 to 59
138,1,1,4,1,No,Secondary school (grade 6 - 12),Primary school (grade 1 - 5),Less than 2 hours,Sometimes,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),30 to 39
139,1,0,4,0,Yes,Secondary school (grade 6 - 12),Secondary school (grade 6 - 12),Less than 1 hour,Sometimes,Sometimes,No,More than 2 hours,Yes,Self studying,Closest date to the exam,Average (40 - 65),40 to 49
140,0,0,1,0,No,Holds a degree,Holds a degree,Less than 1 hour,Sometimes,Sometimes,Yes,More than 2 hours,Yes,Self studying,Closest date to the exam,Below average (less than 40),20 to 29
141,1,1,3,0,No,Secondary school (grade 6 - 12),Secondary school (grade 6 - 12),Less than 5 hours,Always,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with frien...",I study regularly,Topper student (85-100),90 to 100

In [218]:
dataMapping={
    "Yes":1,
    "No":0
}

In [219]:
marks_data["Relationship"]=marks_data["Relationship"].map(dataMapping)
marks_data

,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,1,1,3,0,0,Holds a degree,Holds a degree,Less than 2 hours,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
1,1,0,3,0,1,Holds a degree,Secondary school (grade 6 - 12),Less than 5 hours,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
2,1,1,4,0,0,Primary school (grade 1 - 5),Secondary school (grade 6 - 12),Less than 2 hours,Always,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),60 to 69
3,1,0,3,0,1,Holds a degree,Secondary school (grade 6 - 12),More than 5 hours,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
4,1,1,2,0,0,Secondary school (grade 6 - 12),Holds a degree,Less than 2 hours,Always,Sometimes,No,None,No,Self studying,Closest date to the exam,Above average (65 - 85),70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,1,1,3,1,0,Secondary school (grade 6 - 12),Primary school (grade 1 - 5),Less than 2 hours,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",Closest date to the exam,Average (40 - 65),50 to 59
138,1,1,4,1,0,Secondary school (grade 6 - 12),Primary school (grade 1 - 5),Less than 2 hours,Sometimes,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),30 to 39
139,1,0,4,0,1,Secondary school (grade 6 - 12),Secondary school (grade 6 - 12),Less than 1 hour,Sometimes,Sometimes,No,More than 2 hours,Yes,Self studying,Closest date to the exam,Average (40 - 65),40 to 49
140,0,0,1,0,0,Holds a degree,Holds a degree,Less than 1 hour,Sometimes,Sometimes,Yes,More than 2 hours,Yes,Self studying,Closest date to the exam,Below average (less than 40),20 to 29
141,1,1,3,0,0,Secondary school (grade 6 - 12),Secondary school (grade 6 - 12),Less than 5 hours,Always,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with frien...",I study regularly,Topper student (85-100),90 to 100

In [220]:
dataMapping={
    "Holds a degree":1,
    "Secondary school (grade 6 - 12)":2,
    "Primary school (grade 1 - 5)":3
}

In [221]:
marks_data["Father's_education"]=marks_data["Father's_education"].map(dataMapping)
marks_data["Mother's_education"]=marks_data["Mother's_education"].map(dataMapping)
marks_data

,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,1,1,3,0,0,1,1,Less than 2 hours,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
1,1,0,3,0,1,1,2,Less than 5 hours,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
2,1,1,4,0,0,3,2,Less than 2 hours,Always,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),60 to 69
3,1,0,3,0,1,1,2,More than 5 hours,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
4,1,1,2,0,0,2,1,Less than 2 hours,Always,Sometimes,No,None,No,Self studying,Closest date to the exam,Above average (65 - 85),70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,1,1,3,1,0,2,3,Less than 2 hours,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",Closest date to the exam,Average (40 - 65),50 to 59
138,1,1,4,1,0,2,3,Less than 2 hours,Sometimes,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),30 to 39
139,1,0,4,0,1,2,2,Less than 1 hour,Sometimes,Sometimes,No,More than 2 hours,Yes,Self studying,Closest date to the exam,Average (40 - 65),40 to 49
140,0,0,1,0,0,1,1,Less than 1 hour,Sometimes,Sometimes,Yes,More than 2 hours,Yes,Self studying,Closest date to the exam,Below average (less than 40),20 to 29
141,1,1,3,0,0,2,2,Less than 5 hours,Always,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with frien...",I study regularly,Topper student (85-100),90 to 100

In [222]:
dataMapping={
    "Less than 1 hour":1,
    "Less than 2 hours":2,
    "Less than 5 hours":3,
    "More than 5 hours":4,
    "None":5
}

In [223]:
marks_data["StudyHours"]=marks_data["StudyHours"].map(dataMapping)
marks_data

,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,1,1,3,0,0,1,1,2,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
1,1,0,3,0,1,1,2,3,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
2,1,1,4,0,0,3,2,2,Always,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),60 to 69
3,1,0,3,0,1,1,2,4,Sometimes,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
4,1,1,2,0,0,2,1,2,Always,Sometimes,No,None,No,Self studying,Closest date to the exam,Above average (65 - 85),70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,1,1,3,1,0,2,3,2,Sometimes,Sometimes,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",Closest date to the exam,Average (40 - 65),50 to 59
138,1,1,4,1,0,2,3,2,Sometimes,Sometimes,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),30 to 39
139,1,0,4,0,1,2,2,1,Sometimes,Sometimes,No,More than 2 hours,Yes,Self studying,Closest date to the exam,Average (40 - 65),40 to 49
140,0,0,1,0,0,1,1,1,Sometimes,Sometimes,Yes,More than 2 hours,Yes,Self studying,Closest date to the exam,Below average (less than 40),20 to 29
141,1,1,3,0,0,2,2,3,Always,Sometimes,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with frien...",I study regularly,Topper student (85-100),90 to 100

In [224]:
dataMapping={
    "Sometimes":1,
    "Always":2,
    "Never":3
}

In [225]:
marks_data["AttendenceLecs"]=marks_data["AttendenceLecs"].map(dataMapping)
marks_data["Concentrate"]=marks_data["Concentrate"].map(dataMapping)

marks_data

,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,1,1,3,0,0,1,1,2,1,1,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
1,1,0,3,0,1,1,2,3,1,1,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
2,1,1,4,0,0,3,2,2,2,1,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),60 to 69
3,1,0,3,0,1,1,2,4,1,1,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
4,1,1,2,0,0,2,1,2,2,1,No,None,No,Self studying,Closest date to the exam,Above average (65 - 85),70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,1,1,3,1,0,2,3,2,1,1,Yes,More than 2 hours,Yes,"Self studying, Group studying along with friends",Closest date to the exam,Average (40 - 65),50 to 59
138,1,1,4,1,0,2,3,2,1,1,No,More than 2 hours,No,Self studying,Closest date to the exam,Average (40 - 65),30 to 39
139,1,0,4,0,1,2,2,1,1,1,No,More than 2 hours,Yes,Self studying,Closest date to the exam,Average (40 - 65),40 to 49
140,0,0,1,0,0,1,1,1,1,1,Yes,More than 2 hours,Yes,Self studying,Closest date to the exam,Below average (less than 40),20 to 29
141,1,1,3,0,0,2,2,3,2,1,Yes,Less than 2 hours,Yes,"Self studying, Group studying along with frien...",I study regularly,Topper student (85-100),90 to 100

In [226]:
dataMapping={
    "Yes":1,
    "No":0
}

In [227]:
marks_data["Friends"]=marks_data["Friends"].map(dataMapping)
marks_data["extra curricular"]=marks_data["extra curricular"].map(dataMapping)

marks_data

,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,1,1,3,0,0,1,1,2,1,1,1,More than 2 hours,1,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
1,1,0,3,0,1,1,2,3,1,1,1,Less than 2 hours,1,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
2,1,1,4,0,0,3,2,2,2,1,0,More than 2 hours,0,Self studying,Closest date to the exam,Average (40 - 65),60 to 69
3,1,0,3,0,1,1,2,4,1,1,1,Less than 2 hours,1,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
4,1,1,2,0,0,2,1,2,2,1,0,None,0,Self studying,Closest date to the exam,Above average (65 - 85),70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,1,1,3,1,0,2,3,2,1,1,1,More than 2 hours,1,"Self studying, Group studying along with friends",Closest date to the exam,Average (40 - 65),50 to 59
138,1,1,4,1,0,2,3,2,1,1,0,More than 2 hours,0,Self studying,Closest date to the exam,Average (40 - 65),30 to 39
139,1,0,4,0,1,2,2,1,1,1,0,More than 2 hours,1,Self studying,Closest date to the exam,Average (40 - 65),40 to 49
140,0,0,1,0,0,1,1,1,1,1,1,More than 2 hours,1,Self studying,Closest date to the exam,Below average (less than 40),20 to 29
141,1,1,3,0,0,2,2,3,2,1,1,Less than 2 hours,1,"Self studying, Group studying along with frien...",I study regularly,Topper student (85-100),90 to 100

In [228]:
dataMapping={
    "Less than 1 hour":1,
    "Less than 2 hours":2,
    "More than 2 hours":3,
    "None":4
}

In [229]:
marks_data["SocialMediaTime"]=marks_data["SocialMediaTime"].map(dataMapping)
marks_data

,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,1,1,3,0,0,1,1,2,1,1,1,3,1,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
1,1,0,3,0,1,1,2,3,1,1,1,2,1,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
2,1,1,4,0,0,3,2,2,2,1,0,3,0,Self studying,Closest date to the exam,Average (40 - 65),60 to 69
3,1,0,3,0,1,1,2,4,1,1,1,2,1,"Self studying, Group studying along with friends",I study regularly,Topper student (85-100),80 to 89
4,1,1,2,0,0,2,1,2,2,1,0,4,0,Self studying,Closest date to the exam,Above average (65 - 85),70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,1,1,3,1,0,2,3,2,1,1,1,3,1,"Self studying, Group studying along with friends",Closest date to the exam,Average (40 - 65),50 to 59
138,1,1,4,1,0,2,3,2,1,1,0,3,0,Self studying,Closest date to the exam,Average (40 - 65),30 to 39
139,1,0,4,0,1,2,2,1,1,1,0,3,1,Self studying,Closest date to the exam,Average (40 - 65),40 to 49
140,0,0,1,0,0,1,1,1,1,1,1,3,1,Self studying,Closest date to the exam,Below average (less than 40),20 to 29
141,1,1,3,0,0,2,2,3,2,1,1,2,1,"Self studying, Group studying along with frien...",I study regularly,Topper student (85-100),90 to 100

In [230]:
dataMapping={
    "Self studying":1,
    "Group studying along with friends":2,
    "Help of a tutor":3,
    "Self studying, Group studying along with friends":4,
    "Self studying, Help of a tutor":5,
    "Group studying along with friends, Help of a tutor":6,
    "Self studying, Group studying along with friends, Help of a tutor":7
}

In [231]:
marks_data["HowYouPrepare"]=marks_data["HowYouPrepare"].map(dataMapping)
marks_data

,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,1,1,3,0,0,1,1,2,1,1,1,3,1,4,I study regularly,Topper student (85-100),80 to 89
1,1,0,3,0,1,1,2,3,1,1,1,2,1,4,I study regularly,Topper student (85-100),80 to 89
2,1,1,4,0,0,3,2,2,2,1,0,3,0,1,Closest date to the exam,Average (40 - 65),60 to 69
3,1,0,3,0,1,1,2,4,1,1,1,2,1,4,I study regularly,Topper student (85-100),80 to 89
4,1,1,2,0,0,2,1,2,2,1,0,4,0,1,Closest date to the exam,Above average (65 - 85),70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,1,1,3,1,0,2,3,2,1,1,1,3,1,4,Closest date to the exam,Average (40 - 65),50 to 59
138,1,1,4,1,0,2,3,2,1,1,0,3,0,1,Closest date to the exam,Average (40 - 65),30 to 39
139,1,0,4,0,1,2,2,1,1,1,0,3,1,1,Closest date to the exam,Average (40 - 65),40 to 49
140,0,0,1,0,0,1,1,1,1,1,1,3,1,1,Closest date to the exam,Below average (less than 40),20 to 29
141,1,1,3,0,0,2,2,3,2,1,1,2,1,7,I study regularly,Topper student (85-100),90 to 100

In [232]:
dataMapping={
    "I study regularly":1,
    "Closest date to the exam":2,
}

In [233]:
marks_data["StudyPattern"]=marks_data["StudyPattern"].map(dataMapping)
marks_data

,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,1,1,3,0,0,1,1,2,1,1,1,3,1,4,1,Topper student (85-100),80 to 89
1,1,0,3,0,1,1,2,3,1,1,1,2,1,4,1,Topper student (85-100),80 to 89
2,1,1,4,0,0,3,2,2,2,1,0,3,0,1,2,Average (40 - 65),60 to 69
3,1,0,3,0,1,1,2,4,1,1,1,2,1,4,1,Topper student (85-100),80 to 89
4,1,1,2,0,0,2,1,2,2,1,0,4,0,1,2,Above average (65 - 85),70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,1,1,3,1,0,2,3,2,1,1,1,3,1,4,2,Average (40 - 65),50 to 59
138,1,1,4,1,0,2,3,2,1,1,0,3,0,1,2,Average (40 - 65),30 to 39
139,1,0,4,0,1,2,2,1,1,1,0,3,1,1,2,Average (40 - 65),40 to 49
140,0,0,1,0,0,1,1,1,1,1,1,3,1,1,2,Below average (less than 40),20 to 29
141,1,1,3,0,0,2,2,3,2,1,1,2,1,7,1,Topper student (85-100),90 to 100

In [234]:
dataMapping={
    "Topper student (85-100)":1,
    "Above average (65 - 85)":2,
    "Average (40 - 65)":3,
    "Below average (less than 40)":4
}

In [235]:
marks_data["Rate yourself"]=marks_data["Rate yourself"].map(dataMapping)
marks_data

,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,1,1,3,0,0,1,1,2,1,1,1,3,1,4,1,1,80 to 89
1,1,0,3,0,1,1,2,3,1,1,1,2,1,4,1,1,80 to 89
2,1,1,4,0,0,3,2,2,2,1,0,3,0,1,2,3,60 to 69
3,1,0,3,0,1,1,2,4,1,1,1,2,1,4,1,1,80 to 89
4,1,1,2,0,0,2,1,2,2,1,0,4,0,1,2,2,70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,1,1,3,1,0,2,3,2,1,1,1,3,1,4,2,3,50 to 59
138,1,1,4,1,0,2,3,2,1,1,0,3,0,1,2,3,30 to 39
139,1,0,4,0,1,2,2,1,1,1,0,3,1,1,2,3,40 to 49
140,0,0,1,0,0,1,1,1,1,1,1,3,1,1,2,4,20 to 29
141,1,1,3,0,0,2,2,3,2,1,1,2,1,7,1,1,90 to 100

In [236]:
x= marks_data.drop(columns='Marks')
y= marks_data['Marks']

In [237]:
!pip install imblearn

Requirement already satisfied: imblearn in /Users/kamilthenuwara/opt/anaconda3/lib/python3.9/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /Users/kamilthenuwara/opt/anaconda3/lib/python3.9/site-packages (from imblearn) (0.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/kamilthenuwara/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/kamilthenuwara/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.2.1)
Requirement already satisfied: joblib>=1.1.1 in /Users/kamilthenuwara/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/kamilthenuwara/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in /Users/kamilthenuwara/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.10.0)

In [238]:
from imblearn import over_sampling

In [239]:
import numpy as np
import seaborn as sns
from sklearn import preprocessing
from collections import Counter

In [240]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=0)
x_resampled,y_resampled=ros.fit_resample(x,y)
print(sorted(Counter(y_resampled).items()),y_resampled.shape)

[('0 to 20', 42), ('20 to 29', 42), ('30 to 39', 42), ('40 to 49', 42), ('50 to 59', 42), ('60 to 69', 42), ('70 to 79', 42), ('80 to 89', 42), ('90 to 100', 42)] (378,)

In [241]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_resampled,y_resampled,test_size=0.2)

In [242]:
from sklearn.preprocessing import StandardScaler

In [243]:
scaler = StandardScaler()

In [244]:
x_train_scaled = scaler.fit_transform(x_train)

In [245]:
x_test_scaled = scaler.transform(x_test)

In [246]:
x_test_scaled

array([[ 0.85188866,  0.94835176,  0.1342687 , ..., -0.74356902,
         0.46135822,  0.2743841 ],
       [ 0.85188866,  0.94835176,  1.05584027, ...,  0.89553933,
        -2.16751314, -0.73615247],
       [-1.17386232,  0.94835176,  1.05584027, ..., -0.74356902,
        -2.16751314, -0.73615247],
       ...,
       [ 0.85188866,  0.94835176, -0.78730286, ...,  2.53464769,
         0.46135822, -0.73615247],
       [-1.17386232,  0.94835176,  1.05584027, ...,  0.89553933,
         0.46135822,  1.28492067],
       [ 0.85188866,  0.94835176, -0.78730286, ..., -0.19719957,
         0.46135822,  0.2743841 ]])

In [247]:
from sklearn.linear_model import LogisticRegression

In [248]:
log_reg = LogisticRegression(random_state =0).fit(x_train_scaled, y_train)

In [249]:
log_reg.predict(x_train_scaled)

array(['90 to 100', '60 to 69', '20 to 29', '60 to 69', '0 to 20',
       '20 to 29', '0 to 20', '60 to 69', '60 to 69', '30 to 39',
       '80 to 89', '50 to 59', '60 to 69', '50 to 59', '80 to 89',
       '80 to 89', '30 to 39', '40 to 49', '30 to 39', '60 to 69',
       '20 to 29', '50 to 59', '60 to 69', '30 to 39', '20 to 29',
       '90 to 100', '50 to 59', '60 to 69', '80 to 89', '50 to 59',
       '80 to 89', '50 to 59', '0 to 20', '50 to 59', '60 to 69',
       '50 to 59', '40 to 49', '20 to 29', '30 to 39', '20 to 29',
       '40 to 49', '0 to 20', '0 to 20', '20 to 29', '60 to 69',
       '60 to 69', '20 to 29', '60 to 69', '20 to 29', '80 to 89',
       '20 to 29', '50 to 59', '90 to 100', '40 to 49', '20 to 29',
       '30 to 39', '20 to 29', '0 to 20', '80 to 89', '60 to 69',
       '40 to 49', '90 to 100', '40 to 49', '30 to 39', '0 to 20',
       '90 to 100', '90 to 100', '20 to 29', '50 to 59', '30 to 39',
       '60 to 69', '70 to 79', '20 to 29', '70 to 79', '20 to 29',
       '30 to 39', '0 to 20', '90 to 100', '80 to 89', '80 to 89',
       '30 to 39', '30 to 39', '20 to 29', '20 to 29', '40 to 49',
       '0 to 20', '0 to 20', '40 to 49', '90 to 100', '50 to 59',
       '0 to 20', '70 to 79', '50 to 59', '80 to 89', '20 to 29',
       '60 to 69', '30 to 39', '20 to 29', '80 to 89', '60 to 69',
       '60 to 69', '60 to 69', '50 to 59', '70 to 79', '90 to 100',
       '0 to 20', '30 to 39', '40 to 49', '20 to 29', '30 to 39',
       '50 to 59', '50 to 59', '60 to 69', '90 to 100', '40 to 49',
       '80 to 89', '80 to 89', '70 to 79', '0 to 20', '70 to 79',
       '50 to 59', '60 to 69', '30 to 39', '0 to 20', '0 to 20',
       '80 to 89', '20 to 29', '50 to 59', '50 to 59', '80 to 89',
       '20 to 29', '80 to 89', '30 to 39', '40 to 49', '90 to 100',
       '60 to 69', '0 to 20', '0 to 20', '90 to 100', '70 to 79',
       '40 to 49', '30 to 39', '30 to 39', '50 to 59', '40 to 49',
       '20 to 29', '40 to 49', '80 to 89', '40 to 49', '0 to 20',
       '50 to 59', '40 to 49', '90 to 100', '40 to 49', '30 to 39',
       '40 to 49', '80 to 89', '0 to 20', '40 to 49', '40 to 49',
       '0 to 20', '60 to 69', '0 to 20', '40 to 49', '90 to 100',
       '20 to 29', '60 to 69', '90 to 100', '0 to 20', '60 to 69',
       '30 to 39', '20 to 29', '70 to 79', '80 to 89', '0 to 20',
       '40 to 49', '90 to 100', '40 to 49', '90 to 100', '90 to 100',
       '30 to 39', '30 to 39', '0 to 20', '50 to 59', '40 to 49',
       '40 to 49', '50 to 59', '90 to 100', '50 to 59', '70 to 79',
       '50 to 59', '70 to 79', '60 to 69', '90 to 100', '30 to 39',
       '70 to 79', '50 to 59', '20 to 29', '30 to 39', '60 to 69',
       '0 to 20', '0 to 20', '70 to 79', '60 to 69', '90 to 100',
       '70 to 79', '0 to 20', '20 to 29', '80 to 89', '90 to 100',
       '70 to 79', '60 to 69', '50 to 59', '30 to 39', '90 to 100',
       '80 to 89', '40 to 49', '80 to 89', '0 to 20', '0 to 20',
       '40 to 49', '70 to 79', '60 to 69', '20 to 29', '30 to 39',
       '60 to 69', '30 to 39', '20 to 29', '20 to 29', '80 to 89',
       '0 to 20', '80 to 89', '20 to 29', '40 to 49', '70 to 79',
       '80 to 89', '20 to 29', '0 to 20', '40 to 49', '80 to 89',
       '60 to 69', '90 to 100', '50 to 59', '30 to 39', '90 to 100',
       '60 to 69', '70 to 79', '0 to 20', '20 to 29', '50 to 59',
       '90 to 100', '90 to 100', '90 to 100', '50 to 59', '40 to 49',
       '80 to 89', '90 to 100', '40 to 49', '40 to 49', '80 to 89',
       '50 to 59', '30 to 39', '20 to 29', '20 to 29', '80 to 89',
       '80 to 89', '80 to 89', '0 to 20', '50 to 59', '90 to 100',
       '0 to 20', '40 to 49', '40 to 49', '50 to 59', '70 to 79',
       '20 to 29', '60 to 69', '50 to 59', '30 to 39', '30 to 39',
       '0 to 20', '90 to 100', '60 to 69', '70 to 79', '20 to 29',
       '70 to 79', '0 to 20', '50 to 59', '90 to 100', '30 to 39',
       '50 to 59', '90 to 100', '50 to 59', '80 to 89', '0 to 20',
       '30 to 39', '90 to 100', '50 to 59', '70 to 79', '30 to 39',
       '60 to 69', '50 to 59'], dtype=object)

In [250]:
log_reg.score(x_train_scaled, y_train)

0.8311258278145696

In [251]:
log_reg.score(x_test_scaled, y_test)

0.6973684210526315

In [257]:
x_resampled['Marks'] = y_resampled

In [258]:
x_resampled

,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,1,1,3,0,0,1,1,2,1,1,1,3,1,4,1,1,80 to 89
1,1,0,3,0,1,1,2,3,1,1,1,2,1,4,1,1,80 to 89
2,1,1,4,0,0,3,2,2,2,1,0,3,0,1,2,3,60 to 69
3,1,0,3,0,1,1,2,4,1,1,1,2,1,4,1,1,80 to 89
4,1,1,2,0,0,2,1,2,2,1,0,4,0,1,2,2,70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,0,0,1,0,0,1,2,1,2,1,1,3,0,1,2,1,90 to 100
374,1,1,4,1,1,1,2,4,2,1,1,1,1,5,1,1,90 to 100
375,1,1,3,0,0,2,2,3,2,1,1,2,1,7,1,1,90 to 100
376,1,0,1,1,1,2,2,2,1,1,1,2,1,7,1,1,90 to 100
377,1,1,4,1,1,1,2,4,2,1,1,1,1,5,1,1,90 to 100

In [259]:
x_resampled.to_csv('/Users/kamilthenuwara/Desktop/data10.csv')